/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: Si quieres la fuente Roboto que usa el diseño */
body {
  font-family: 'Roboto', sans-serif; 
}
/* Asegúrate de añadir la etiqueta <link> para Roboto en tu public/index.html */